Body{
    margin: 0 auto;
}
.container{
    width: 100%;
    height: auto;
    margin: auto;/*margin right auto et left aussi pour que la page soit au centre*/
   
}
.logo{
   padding: 0px;
   margin: 0px;
    float: right;
   width: 30px;
  
}

.search{
    float: right;
    padding:15px;
    position: relative;
    z-index: 1;
}
.navbar{
    padding: 0px;
    margin: 0px;
    float:right;
    width: 100%;
    background-color: transparent; 
    position: fixed;
    height: 70px;
  
    
      
}
.navbar>ul{
    list-style-type: none;
   
   
}
.navbar>ul>li{
    display: inline-block;
   
}
.navbar>ul>li :hover{
  color: #2d3436;  
}
.navbar>ul>li>a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 15px;
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;

}
/* drop*/
.drop-down-menu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: none;/*pour que la liste de réservation sera caché*/
    z-index: 999;     /*quand on a fait le slide la menu est disparut donc on augmenter la valeur du drop*/

}
.navbar>ul>li:hover .drop-down-menu
{
display: block;

}
.drop-down-menu>li>a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    background-color: black;
}

.banner{
    width: 100%;
    height: 666px;
    overflow: hidden;/*tout ce qui arrive aprés le div sera caché  Exemple  a propos*/
    z-index: -1;

}
.banner img{
 width: 100%;
 height: auto;
}
.title{
    float: right;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 50%;
   margin-top:-500px;
   z-index: 1;
   position: relative;
   color: white;
}
.boutons{
    display: flex;
    justify-content: space-around;
   margin-top: 100px;
  
}
#bt1{
    background-color: #7f8c8d;
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    width: 200px;
}

#bt1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family:  'Yanone Kaffeesatz', sans-serif;
    
}

.content-holder{
  

    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 4px  ;
}
#content{
    width: 100%;
    height: auto;
   
 
  
   
}
fieldset{
    height: 300px;
}
#content p{
    margin: 0px;
    height:auto;
}
#Titre-reservation{
 font-size: 25px;
 font-weight: bold;
 font-family: 'Yanone Kaffeesatz', sans-serif;
 margin-left: 490px;
color: black;}
 #l{
    color: black;
 }

 #t1{
    width: 240px;
   
}
#t3{
    width: 260px; 
}
#t4{
    width: 280px;
}
#t5{
    width: 190px;
}
#t6{
    width: 250px;
}
#t7{
    width: 290px;
}
#t8{
    width: 310px;
}
#t9{
    width: 220px;
}
.left{
    float: left;
    margin-left: 200px;
}
.clearfix{
    clear: both;
}
.right{
    float: right;
    margin-right: 200px;
}
#s1{
    width: 140px;
}
#s2{
    width: 200px;
}
#bt{
    margin-top: 200px;
   width: 210px;
   background-color:black ;
   color: white;
   font-family:  'Yanone Kaffeesatz', sans-serif;
   font-size: 20px;
  

 
}
#bt2{
    display: flex;
    margin-left: 420px;
    margin-top: 50px;
    width: 150px;
    font-size: 25px;
    font-family:  'Yanone Kaffeesatz', sans-serif;

}

.sidebar{
   display: flex;
   flex-direction: column;
}
#email{
width: 70px;
height: 70px;

}
#tél{
width: 70px;
height: 70px;
}
#f{
width: 70px;
height: 70px;
}
#insta{
    width: 70px;
    height: 70px;    
}
#mail{
    margin-left: 80px;
    margin-top: -35px;
}
#num{
    margin-left: 80px;
margin-top: -25px;}
#face{
    margin-left: 80px;
    margin-top: -35px;
}

#a-propos{
    position: relative;
    z-index: 1;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px  ;
  
}
#map{
    width: 428px;
    float: right;
    margin-right: 50px;
    margin-top: -300px;
    height: 269px;
}
#back2{
    width: 100%;
    z-index: -1;
    position: absolute;
}
#a-propos p{
    text-align: justify;
    font-size: 23px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#title-apropos{
    font-family:  'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    margin-left: 550px;
    padding-top: 20px;
}
.foot{
    background-color: black;
    width: 100%;
}
.formulaire{
   
    color: white;
    height: 400px;
    
    
   
}
#fields{
    margin-left: 30px;
    width: 400px;
    height: 250px;
    
}
#contact{
    font-family:  'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    float: right;
    margin-right: 1100px;

}
#f1{
    text-align: center;
}
#a1{
    text-decoration: none;
  font-size: 22px;
  color: white;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
   
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .card a{
      text-decoration: none;
      color: white;
  }
  .first-row{
      display:flex;
      flex-wrap: wrap;

  }
  .map{
      width:20%x;
      float: right;
      height: 200px;
  }
  #voir-plus{
 margin: 0px;
 padding: 0px;
 margin-left: 600px;
  }
  #voir-plus a{
      text-decoration: none;
      color: black;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 25px;
      
  }
  label{
    font-family:  'Yanone Kaffeesatz', sans-serif;
  }