Body{
    margin: 0 auto;
}
.container{
    width: 100%;
    height: auto;
    margin: auto;/*margin right auto et left aussi pour que la page soit au centre*/
   
}
/*background image*/
#b1{
    width:100%;
}
/*nav bar style*/
.navbar{
    padding: 0px;
    margin: 0px;
    float:right;
    width: 100%;
    background-color: black; 
    position: fixed;
    height: 70px;
    box-shadow: 1px 1px 3px;    
}
.navbar>ul{
    list-style-type: none;
   
   
}
.navbar>ul>li{
    display: inline-block;
   
}
.navbar>ul>li :hover{
  color: #2d3436;  
}
.navbar>ul>li>a{
    text-decoration: none;
    color:white;
    display: block;
    padding: 15px;
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;

}

/*Titre de la page */
.title{
    float: right;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 50%;
   margin-top:-500px;
   z-index: 1;
   position: relative;
   color: white;
}
/*2 Boutons sur l'image du Background*/
.boutons{
    display: flex;
    justify-content: space-around;
   margin-top: 100px;
  
}
#bt1{
    background-color: transparent;
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    width: 200px;
    
}
#bt2{
    background-color: transparent;
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    width: 200px;

}
#bt2:hover{
    width: 300px;
    height: 150px;
    background:#353b48;
    transition: width 2s;  
}
#bt1:hover{
    width: 300px;
    height: 150px;
    background:#353b48;
    transition: width 2s;
}
#bt2 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family:  'Yanone Kaffeesatz', sans-serif;
}
#bt1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family:  'Yanone Kaffeesatz', sans-serif;
    
}
/*content holder du formulaire reservation dans l'acceuil*/
.content-holder{
  

    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 3px 4px  ;

}
#content{
    width: 100%;
    height: auto;  
}
fieldset{
    height: 300px;
}
#content p{
    margin: 0px;
    height:auto;
}
#Titre-reservation{
 font-size: 25px;
 font-weight: bold;
 font-family: 'Yanone Kaffeesatz', sans-serif;
 margin-left: 490px;
color: black;}
 #l{
    color: black;
 }

 
#t5{
    width: 190px;
}

#t9{
    width: 220px;
}
.left{
    float: left;
    margin-left: 200px;
}
.clearfix{
    clear: both;
}
.right{
    float: right;
    margin-right: 200px;
}

#s1{
    width: 140px;
}
#s2{
    width: 200px;
}
#bt{
    margin-top: 200px;
   width: 210px;
   background-color:black ;
   color: white;
   font-family:  'Yanone Kaffeesatz', sans-serif;
   font-size: 20px;
}
#agence{
    width: 30px;
}
#calendrier{
    width: 30px;
}
#horloge{
    width: 30px;
}
/* style du paragraphe a-propos*/
#a-propos{
    position: relative;
    z-index: 1;
    border: 1px solid;
    padding: 10px;
    
  
}

#a-propos p{
    text-align: justify;
    font-size: 23px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
   
}
#title-apropos{
    font-family:  'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    margin-left: 550px;
    padding-top: 20px;
}
/*style du map*/
#map{
    width: 428px;
    float: right;
    margin-right: 50px;
    margin-top: -300px;
    height: 269px;
}

#back2{
    width: 100%;
    z-index: -1;
    position: absolute;
}
/*style du formulaire contact*/
.foot{
  
    width: 100%;
}
#a1{
    text-decoration: none;
  font-size: 22px;
  color: black;
}
.formulaire{
   
    color: black;
    height: 400px;  
}
#envoyer{
    margin-left: 100px;
    background-color:transparent;
    color: black;
    width: 100px;
    font-family:  'Yanone Kaffeesatz', sans-serif;
    border-color:rgba(0, 0, 0, 0.2);


}
#fields{
    margin-left: 30px;
    width: 400px;
    height: 270px;
    
}
#message{
    margin-left: 30px;
    width: 170px;
}
#contact{
    font-family:  'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.2);

}
#f1{
    text-align: center;
}
#nom{
border-color:rgba(0, 0, 0, 0.2);
}
#email{
    border-color:rgba(0, 0, 0, 0.2);
}
#message{
    border-color:rgba(0, 0, 0, 0.2);
    margin-left: -2px;
}

/*style du cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
   
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .card a{
      text-decoration: none;
      color: white;
  }
  .first-row{
      display:flex;
      flex-wrap: wrap;

  }
  /*style du lien voir plus*/
  #voir-plus{
 margin: 0px;
 padding: 0px;
 margin-left: 600px;
  }
  #voir-plus a{
      text-decoration: none;
      color: black;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 25px;
      
  }
  #voir-plus{
      width: 50px;
  }
  /*style de tous les labels*/
  label{
    font-family:  'Yanone Kaffeesatz', sans-serif;
  }